<table style="border-width: 2px;border-style: solid;">
    <caption>Employee Details</caption>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>{{empName}}</td>
    </tr>
    <tr>
        <td>Employee Id</td>
        <td>{{empId}}</td>
    </tr>
    <tr>
        <td>Employee Gender</td>
        <td>{{empGender}}</td>
    </tr>
    <tr>
        <td>Employee Designation</td>
        <td>{{empDesignation}}</td>
    </tr>
    <tr>
        <td>Employee Phone</td>
        <td>{{empPhone}}</td>
    </tr>
</table>